<!--- #sample file to get the feel of a sinatra app. modify as you need it (or rename, etc)-->


<% who = "poop" %>
<%= who %>


<html>
<head></head>
<bodybgcolor="black">
<body> who!

<table>
<ul>
<li> dor</li>
</ul>
</table>

<a href="/index">Go to form.</a>
</body>

</html>
