hey
    <form action="/putdat" method="post">  
      <input type="text" name="message">  
      <input type="submit">  
    </form>  

<button onclick="window.location.href='/'">Go back home.</button>
